<div class="container mt-3">
  <%= render "books/error", model: @book %>
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info", user: @user %>
      <h2>New book</h2>
      <%= render "books/form", book: @newbook %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= attachment_image_tag @book.user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "40x40" %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
            <td><%= @book.category %></td>
            <td class="favorite_btn_<%= @book.id %>">
              <%= render "favorites/favorite", book: @book %>
            </td>
            <td id="comment_count">
              コメント数：<%= @book.book_comments.count %>
            </td>
            <td>
              <div id="rate_<%= @book.id %>"></div>
              <script>
                $('#rate_<%= @book.id %>').raty({
                  size: 20,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  starHalf: "<%= asset_path('star-half') %>",
                  half: true,
                  readOnly: true,
                  score: <%= @book.rate %>
                });
              </script>
            </td>
            <td>閲覧数：<%= @book.impressionist_count %></td>
            <% if @user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-success btn-sm" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger btn-sm" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody id="comment_area">
          <%= render "book_comments/comment", book: @book %>
        </tbody>
      </table>
      <%= form_with model: [@book, @book_comment] do |f| %>
        <div>
          <%= f.text_area :comment, rows:"5", class:"form-control" %>
        </div>
        <%= f.submit "送信", class:"mt-2" %>
      <% end %>
    </div>
  </div>
</div>
